<% c++ #include "contents/detects.h" %>
<% skin %>
<% view detects_simple_api uses contents::detects::Simple %>
<% template render() %>
<%= detectedLang %>
<% end template %>
<% end view %>
<% end skin %>
